---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "KVM Based Virtual Machine",
      "2 vCPU",
      "4GB of Memory",
      "33GB of Storage",
      "Public IPv6, Private IPv4",
      "Community Support",
      "Operasi Semut Every First Week",
    ],
    button: {
      text: "Get Started",
      link: "https://my.8labs.id/virtual-labs",
    },
  },
  {
    name: "Researcher",
    price: "Zero Cost",
    popular: true,
    features: [
      "KVM Based Virtual Machine",
      "2 vCPU",
      "4GB of Memory",
      "33GB of Storage",
      "Public IPv6, Private IPv4",
      "Community Support ",
      "Labs Cleaning Every First Week",
    ],
    button: {
      text: "Get Started",
      link: "https://my.8labs.id/virtual-labs",
    },
  },
  {
    name: "Technician",
    price: "Rp 0",
    popular: false,
    features: [
      "KVM Based Virtual Machine",
      "2 vCPU",
      "4GB of Memory",
      "33GB of Storage",
      "Public IPv6, Private IPv4",
      "Community Support",
      "Bersih-bersih Every First Week",
    ],
    button: {
      text: "Get Started",
      link: "https://my.8labs.id/virtual-labs",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title"
        ><span class="line-through decoration-red-700">Pricing</span></Fragment
      >
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
