---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Seamless Networking",
    description:
      "Enjoy the flexibility of public IPv6 and private IPv4 addressing, ensuring your lab is both accessible and secure.",
    icon: "bx:network-chart",
  },
  {
    title: "Versatile OS Support",
    description:
      "Leverage KVM-based virtualization with support for popular Linux distributions including Debian, Ubuntu, RockyLinux, CentOS, and FreeBSD.",
    icon: "bx:bxs-invader",
  },
  {
    title: "Blazing Fast Connectivity",
    description:
      "Benefit from 1Gbps local network speeds and 100Mbps international connectivity, ensuring fast and reliable access to your home lab resources.",
    icon: "bx:bxs-rocket",
  },
  {
    title: "User-Friendly Console",
    description:
      "Manage your virtual machines effortlessly with our intuitive console panel, featuring noVNC for remote desktop access and xTerm.js for advanced terminal emulation.",
    icon: "bx:bxs-server",
  },
  {
    title: "Reliable and Managed",
    description:
      "With a 99% SLA, our platform ensures high availability. Plus, our automated policies help manage and clean up orphaned machines, shutting down idle instances in the first week and deleting stopped machines in the second week.",
    icon: "bx:bxs-shapes",
  },
  {
    title: "Complete Control",
    description:
      "Gain full administrative access to your virtual machines, giving you the freedom to configure and customize your environment to your exact needs.",
    icon: "bx:bxs-user-badge",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything You Need to Start <span
      class="text-red-700 underline decoration-black">Ngoprek</span
    >.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Dive into hands-on experimentation and build your perfect lab environment
    with 8Labs. Our cloud labs platform provides all the tools and features you
    need to get started with ease and efficiency.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
