---
// @ts-ignore
import { Icon } from "astro-icon/components";

const distros = [
  { name: "Debian", icon: "simple-icons:debian" },
  { name: "Ubuntu", icon: "simple-icons:ubuntu" },
  { name: "CentOS", icon: "simple-icons:centos" },
  { name: "Rocky Linux", icon: "simple-icons:rockylinux" },
  { name: "AlmaLinux", icon: "simple-icons:almalinux" },
  { name: "FreeBSD", icon: "simple-icons:freebsd" },
];
---

<div class="mt-16">
  <p class="text-center text-base font-medium text-zinc-700">
    Run the distributions you already know
  </p>
  <div
    class="mt-8 flex flex-wrap items-start justify-center gap-x-10 gap-y-6 md:gap-x-16"
  >
    {
      distros.map((d) => (
        <div class="group flex flex-col items-center gap-2">
          <Icon
            class="size-9 text-zinc-400 transition-colors group-hover:text-zinc-900 md:size-12"
            name={d.icon}
          />
          <span class="text-xs font-medium text-zinc-500">{d.name}</span>
        </div>
      ))
    }
  </div>
</div>
