---
const stats = [
  {
    number: "5",
    text: "Product Families",
  },
  {
    number: "1-15 min",
    text: "Typical Virtual Lab Setup",
  },
  {
    number: "Docs + Panel",
    text: "Guided Ordering & Support",
  },
];
---

<div class="mt-10">
  <div class="mx-auto max-w-5xl">
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-12 py-8 px-4 text-center bg-gradient-to-br from-slate-100 to-slate-200 rounded-lg">
      {
        stats.map((stat) => (
          <div class="flex flex-col items-center">
            <div class="text-4xl font-bold text-black lg:text-5xl">
              {stat.number}
            </div>
            <div class="text-slate-600 mt-2">{stat.text}</div>
          </div>
        ))
      }
    </div>
  </div>
</div>
